body

p{
	font-family: Arial, sans-serif;
	font-size: 18px;
}

h1{
	text-decoration: underline;
}

h1, h2{
	text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

#slogan{
	color: #800000;
	font-weight: bold;
}

h1{
	font-stretch: ultra-expanded;
	font-weight: bold;
	text-align: center;
}

h3{
	font-stretch: ultra-expanded;
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

#liner{
	text-decoration: underline;
	font-size: 24px;
	font-stretch: ultra-expanded;
	font-family: Verdana, sans-serif;

}

.left{
	width: 40%;
	background-color: #00ffff;
	display: inline-block;
	float: left;
}

.right{
	width: 40%;
	background-color: #00ffff;
	display: inline-block;
	float: right;
}

footer p{
	text-align: center;
	font-stretch: ultra-expanded;
	font-weight: bold;
	color: #800000;
}

article{
	font-size: 28px;
	text-align: center;
}